:root {
  --color-1: #ffffff;
  /* Blanco */
  --color-2: #333333;
  /* Gris oscuro */
  --color-hover: #ff9900;
  /* Naranja */
  --color-zirconia: #d4dde2;
  --main-font-family: 'Noto Serif', serif;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-size: cover;
  font-family: var(--main-font-family);
  background-image: url(./img/bannerHorizontal.jpeg);
  background-position: center;
}

header {
  margin: 0;
  width: 100vw;
  height: 9vh;
}

main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  min-height: 80vh;
  flex: 1;
}

h1 {
  color: #fff;
}

footer {
  text-align: center;
}

.container_index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #d4dde2;
}

.container_header {
  display: flex;
  height: 100%;
}

.banner {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 5px;
  width: 100vw;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 0;
  padding-top: 1rem;
  z-index: 1;
}

.logo img {
  width: 50px;
  height: 50px;
}

.titulo_header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  color: var(--color-2);
}

.menu_index {
  display: flex;
  grid-column: 5;
  grid-column-end: 12;
  position: relative;
}

.menu_index ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  width: 100%;
}

.menu_index ul li {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.menu_index ul li a {
  padding-top: 10px;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-1);
  background-color: var(--color-2);
  padding: 10px 15px;
  border-radius: 5px;
}

.menu_index ul li a:hover {
  background-color: var(--color-hover);
  transition: background-color 0.3s ease-in-out;
}

.container_main {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 60px;
}

.texto_introduccion h2 {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 20px;
  }

  .container_main {
    grid-column: 1 / -1;
  }

  .menu_index ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
    background-image: url(./img/bannerVertical.png);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.521);
  }

  header {
    display: grid;
    width: 100vh;
    height: 20vh;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
    height: auto;
  }

  footer {
    display: flex;
    width: 100vw;
    height: auto;
  }

  .container_index {
    display: grid;
    margin: 0 auto;
    grid-template-rows: auto 1fr auto;
  }

  .container_header {
    display: flex;
  }

  .banner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    background: linear-gradient(to right, blue, rgb(3, 112, 155), green);
  }

  .logo {
    max-width: 70px;
  }

  .logo img {
    margin: 5px 10px;
    width: 50px;
    height: 50px;
  }

  .titulo_header {
    grid-column: 2 / -1;
    text-align: center;
  }

  .titulo_header h1 {
    margin-top: 5px;
    font-size: 1.4rem;
    font-family: var(--main-font-family);
    color: #000000;
  }

  .menu_index {
    grid-column: 1 / -1;
    background-color: var(--color-2);
  }

  .menu_index ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .menu_index ul li {
    padding: 5px;
    font-family: var(--main-font-family);
  }

  .menu_index ul li a {
    color: var(--color-1);
  }

  .container_main {
    grid-column: 1 / -1;
  }

  .texto_introduccion h2 {
    color: var(--color-1);
  }

  p {
    margin: 30px;
    color: var(--color-1);
  }

  .foot h4 {
    font-size: 12px;
    color: var(--color-zirconia);
  }
}

.container_form {
  width: 90%;
  padding: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container_form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container_form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container_form .form-group label {
  font-weight: bold;
  color: white
}

.container_form .form-group input,
.container_form .form-group textarea {
  padding: 10px;
  border: 1px solid var(--color-zirconia);
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.container_form input[type="submit"] {
  background-color: var(--color-termo);
  color: white;
  cursor: pointer;
  width: 100%;
}

.container_form input[type="submit"] {
  background-color: var(--color-termo);
  color: white;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
}

.container_form input[type="submit"]:hover {
  background-color: var(--color-narbona);
}

.container_form input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px var(--color-zirconia);
}


/* Estilos para tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
  .container_form {
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .container_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .container_form .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .container_form .form-group label {
    width: 15%;
    font-weight: bold;
    color: white
  }

  .container_form .form-group input,
  .container_form .form-group textarea {
    padding: 10px;
    border: 1px solid var(--color-zirconia);
    border-radius: 5px;
    font-size: 1rem;
    width: 70%;
    box-sizing: border-box;
  }

  .container_form input[type="submit"] {
    background-color: var(--color-termo);
    color: white;
    cursor: pointer;
    width: 100%;
  }

  .container_form input[type="submit"] {
    background-color: var(--color-termo);
    color: white;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
  }

  .container_form input[type="submit"]:hover {
    background-color: var(--color-narbona);
  }

  .container_form input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-zirconia);
  }
}

/* Estilos para escritorios */
@media (min-width: 1025px) {
  .container_form {
    width: 60%;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .container_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .container_form .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container_form .form-group label {
    width: 15%;
    font-weight: bold;
    color: white
  }

  .container_form .form-group input,
  .container_form .form-group textarea {
    padding: 10px;
    border: 1px solid var(--color-zirconia);
    border-radius: 5px;
    font-size: 1rem;
    width: 75%;
    box-sizing: border-box;
  }

  .container_form input[type="submit"] {
    background-color: var(--color-termo);
    color: white;
    cursor: pointer;
    width: 100%;
  }

  .container_form input[type="submit"] {
    background-color: var(--color-termo);
    color: white;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
  }

  .container_form input[type="submit"]:hover {
    background-color: var(--color-narbona);
  }

  .container_form input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-zirconia);
  }

}

/* Estilos del formulario de contacto */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: var(--primary-color);
}

input-group-text {
  background-color: var(--primary-color);
  color: var(--color-1);
  border: none;
  border-radius: 5px 0 0 5px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--color-1);
  border-radius: 5px 0 0 5px;
}

.input-group input,
.input-group textarea {
  border-radius: 0 5px 5px 0;
}

button {
  background-color: var(--primary-color);
  color: var(--color-1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--third-color);
}

/* Media Queries para hacer el formulario responsive */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .input-group span,
  .input-group input,
  .input-group textarea {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
  }

  .input-group span,
  .input-group input,
  .input-group textarea {
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
  }

  .input-group span {
    border-radius: 5px;
  }

  .input-group input,
  .input-group textarea {
    border-radius: 5px;
  }
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}

/* Media Queries para hacer el menú responsive */
@media (max-width: 768px) {
  .menu_index ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu_index ul li {
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }

  .menu_index ul.menu-list-active {
    display: flex;
  }

}